.dist
be_chatbot/src/__pycache__
be_chatbot/**.pyc
be_chatbot/ollama/
be_chatbot/venv/
be_chatbot/src/data/*
*.gguf
*.ggml
be_chatbot/.env.secrets
.DS_Store
**/.DS_Store
**.pyc
# Logs
fe_chatbot/logs
fe_chatbot/*.log
fe_chatbot/npm-debug.log*
fe_chatbot/yarn-debug.log*
fe_chatbot/yarn-error.log*
fe_chatbot/pnpm-debug.log*
fe_chatbot/lerna-debug.log*

fe_chatbot/node_modules
fe_chatbot/dist
fe_chatbot/dist-ssr
fe_chatbot/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
be_chatbot/src/__pycache__/*